* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 7vh;
    font-family: Arial, sans-serif;
}

body.clair {
    background: white;
    color: black;
}

body.sombre {
    background: #222;
    color: white;
}

body.matrix {
    background: black;
    color: lime;
}

.erreur {
    color: red;
    font-weight: bold;
}

.site-header {
    display: flex;
    min-height: 10vh;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-around;
    background-color: #69d3ab;
}

.site-header a {
    padding: 0 0.5rem;
    color: #000;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

.site-header a:hover {
    text-decoration: underline;
}

.logo-container,
.header-navigation,
.header-login {
    width: 33.333%;
}

.logo-container {
    height: 9vh;
}

.logo-container img {
    height: 100%;
    width: auto;
}

.header-navigation {
    display: flex;
    justify-content: center;
}

.header-login {
    display: flex;
    justify-content: flex-end;
}

.page-content {
    display: flex;
    min-height: 80vh;
    padding: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    min-height: 7vh;
    align-items: center;
    justify-content: center;
    background-color: #69d3ab;
    font-size: 1.125rem;
    font-weight: 600;
}

table {
    border: 2px solid grey;
}

th,
td {
    border: 1px solid grey;
    padding: 2px 6px;
    text-align: center;
}

input[type="number"] {
    border: 1px solid black;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.25rem 0;
}

.message-erreur {
    color: red;
    text-align: center;
}

.login-form {
    width: 30%;
}

.form-row {
    display: flex;
    justify-content: center;
    margin: 0.25rem 0;
}

.form-row label {
    display: inline-block;
    width: 25%;
}

.form-row input {
    border: 1px solid black;
}

button {
    background-color: #86efac;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
