<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matante tricote</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="logo-container">
            <img src="static/images/logo.svg" alt="Pelotte de laine avec broches à tricoter" class="logo">
        </div>
        <div class="header-navigation">
            <a href="/">Accueil</a>
            <a href="broches">Broches</a>
            <a href="echantillon">&Eacute;chantillon</a>
        </div>
        <div class="header-login">
            <a href="">Connexion</a>
        </div>
    </header>

    <main>
        {% block content %}
        Contenu par défaut. Il sera remplacé par le contenu spécifique de chaque page.
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>&#64; 2026 Matante Tricote</p>
    </footer>
</body>

</html>