{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
<main>
    <div class="page-content">
        <h1>Calcul d'&eacute;chantillon</h1>

        <table>
                <thead>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</main>

{% endblock %}